.cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        margin-bottom: 30px;
    }
}