.small {
    width: 250px;
    height: 450px;
    background-color: white;
    border: 1px solid #BFBFBF;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.small div {
position: absolute;
bottom: 0;
padding: 20px;
border-top: 1px solid #BFBFBF;
height: 250px;
}

.small h1 {
    font-size: 24px;
    line-height: 48px;
}

.small h4 {
font-size: 16px;
line-height: 38px;
font-weight: lighter;
}

@media only screen and (max-width: 600px) {
    .small {
        margin: 0px auto;
        margin-bottom: 30px;
    }
}